.button {
  display: block;
  border: 0;
  background-color: $light-grey-blue;
  color: $white;
  font-family: $basic-font-family;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $faded-blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: $white;
    background-color: $cool-blue;
  }
}

.button__text {
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--review {
  padding-right: 32px;
  padding-left: 32px;
}

@media (min-width: $tablet-width) {
  .button--review {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .button--review {
    width: 480px;
  }
}
