.copyright-link {
  margin: 4px 6px 0 11px;
}

.copyright-link svg path:hover,
.copyright-link svg path:focus {
  fill: $light-grey-blue;
}

.copyright-link svg path:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright-link {
    margin: 21px 0 0 13px;
  }
}

@media (min-width: $desktop-width) {
  .copyright-link {
    margin-left: 14px;
  }
}
