.features {
  font-family: $basic-font-family;
}

.features__text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__info {
  font-size: 21px;
  line-height: 1.5;
  color: $white;
  margin: 0;
  padding: 4px 12px 0 0;
}

.features__info--bluing{
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding-left: 10px;
  padding-right: 10px;
}

.features__title {
  font-size: 21px;
  line-height: 26px;
}
