.features {
  font-family: $basic-font-family;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
  }
}

.features__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.features__picture {
  display: block;
  width: 100%;
  height: auto;
}

.features__image {
  width: auto;
  overflow: hidden;
  height: 260px;
}

@media (min-width: $tablet-width) {
  .features__image {
    line-height: 0;
    height: 256px;
    width: 70%;
  }

  .features__picture {
    min-height: 256px;
  }

  .features__text {
    line-height: 20px;
    text-align: center;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .features__picture {
    width: 100%;
    height: auto;
  }

  .features__text:nth-of-type(4) {
    padding: 0 15px;
  }

  .features__image {
    height: 256px;
  }
}
