.features__info {
  font-size: 14px;
  line-height: 1.5;
  color: $white;
  margin: 0;
}

.features__info--blue {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.features__info:nth-child(2) {
  background: $light-grey-blue;
}

.features__info .features__title {
  color: $white;
  line-height: 23px;
  padding-top: 53px;
  font-size: 18px;

  &::after {
    color: inherit;
  }
}

.features__info--bluing {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.features__info .features__text {
  color: $white;
  padding-bottom: 41px;
}

.features__info--bluing .features__title {
  padding-top: 43px;
  margin-bottom: 8px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .features__info {
    text-align: center;
  }

  .features__info--bluing {
    padding: 48px 16px 11px;
    width: 30%;
  }

  .features__info--blue {
    padding: 40px 18px 17px;
    width: 30%;
  }

  .features__info .features__text {
    margin: 0;
    padding: 0;
    padding-top: 1px;
  }

  .features__info .features__title {
    padding-top: 0;
    line-height: 26px;
    font-size: 21px;
  }

  .features__info--bluing .features__title {
    padding-top: 0;
    margin-bottom: 1px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 5px;
  }

  .features__info--bluing .features__text {
    margin: 5px 36px 0;
  }
}

@media (min-width: $desktop-width) {
  .features__info {
    width: 400px;
  }

  .features__info--blue {
    padding: 47px 9px 31px;
  }

  .features__info--bluing {
    padding: 50px 9px 23px;
  }

  .features__info--bluing .features__title {
    margin: 4px 70px 4px 69px;
    padding: 0;
  }

  .features__info--bluing .features__text {
    margin: 0 75px 0;
  }

  .features__info--blue .features__text {
    margin: 0 46px;
  }
}
