.features__sublist {
  width: 100%;
  padding: 28px 0 18px;
  margin: 0;
  list-style: none;
  content: none;
}

.features__sublist .features__item {
  padding: 8px 3px 0 68px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .features__sublist {
    display: grid;
    padding: 53px 29px 56px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }

  .features__sublist .features__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: $black;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 55px;
  }

  .features__sublist .features__item {
    padding-left: 0;
    padding-top: 103px;
    padding-right: 0;
    padding-bottom: 1px;
  }
}

@media (min-width: $desktop-width) {
  .features__sublist {
    padding-bottom: 79px;
    padding-left: 46px;
    padding-right: 47px;
    gap: 95px;
  }
}
