.features__sublist {
  width: 100%;
  padding: 26px 0 13px;
  margin: 0;
  list-style: none;
  content: none;
}

.features__sublist .features__item {
  padding: 7px 19px 0 73px;
  text-align: left;
}

.features__sublist .features__text {
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 0;
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .features__sublist {
    display: grid;
    padding-bottom: 63px;
    padding-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__sublist .features__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 55px;
  }

  .features__sublist .features__text {
    padding: 0;
  }

  .features__sublist .features__item {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__sublist {
    padding-bottom: 82px;
  }

  .features__sublist .features__item {
    padding-left: 46px;
    padding-right: 47px;
  }
}
