.features__item {
  margin: 0;
  background-repeat: no-repeat;
  background-position: 30px 0;
  list-style-type: none;

  &--home {
    font-size: 21px;
    background-image: url("../../img/icon-house.svg");
    background-size: 36px;
    background-position: 22px 3px;
  }

  &--food {
    font-size: 21px;
    background-image: url("../../img/icon-burger.svg");
    background-size: 37px;
    background-position: 19px 6px;
  }

  &--gift {
    font-size: 21px;
    background-image: url("../../img/icon-gift.svg");
    background-size: 31px;
    background-position: 25px 0;
  }
}

.features__item .features__text {
  padding: 3px 1px 36px;
  line-height: 22px;
}

.features__item--food .features__text {
  padding: 2px 20px 14px 1px;
}

.features__item--home .features__text {
  padding: 2px 1px 16px;
}

.features__item--gift .features__text {
  padding: 3px 0 15px 1px;
}

.features__item--facts {
  padding: 26px 38px 17px 33px;
  background-color: #eeeeee;
  list-style-type: none;
  font-size: 12px;
}

.features__item--facts .features__text {
  padding-bottom: 5px;
}

.features__item--facts .features__item {
  padding-bottom: 0;
  padding-top: 18px;
}

@media (min-width: $tablet-width) {
  .features__item {
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: grid;

    &--home {
      background-position: 50% 5%;
      background-size: 74px;
      order: 1;
    }

    &--food {
      background-position: 50% 6%;
      background-size: 78px;
      order: 2;
    }

    &--gift {
      background-position: 49% 3%;
      background-size: 62px;
      order: 3;
    }
  }

  .features__item--facts {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    padding: 43px 0 41px 0;
  }

  .features__item--facts .features__item {
    padding: 27px;
  }

  .features__item--facts .features__text {
    margin: 0 38px;
  }

  .features__item--facts .features__text:nth-child(3) {
    padding-top: 0;
  }

  .features__item-wrapper {
    padding: 26px 46px;
  }

  .features__item--wide {
    width: 100%;
    display: flex;
  }

  .features__item--food .features__text {
    padding: 0 14px;
  }

  .features__item--gift .features__text {
    padding: 0 2px 20px;
  }

  .features__item--home .features__text {
    padding: 3px 8px;
  }

  .features__item:nth-of-type(3) {
    flex-direction: row-reverse;
  }
}

@media (min-width: $desktop-width) {
  .features__item-wrapper {
    padding-bottom: 40px;
  }

  .features__item--facts {
    padding-top: 38px;
    padding-bottom: 59px;
  }

  .features__item--facts .features__text {
    padding-right: 17px;
    padding-left: 17px;
  }

  .features__item--food .features__text {
    padding: 5px 10px 0;
  }

  .features__item--home .features__text {
    padding: 9px 8px 0;
  }

  .features__item--gift .features__text {
    padding: 5px 49px 0 65px;
  }
}
