.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-concrete;
}

.feedback__form {
  padding-top: 24px;
}

.feedback__info {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 35px;
  padding-bottom: 14px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: 0 auto;
    padding-top: 64px;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
    border-top: 0;
    padding-top: 0;
  }

  .feedback__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .feedback__description {
    padding-left: 102px;
    padding-right: 102px;
  }

  .feedback__info {
    padding: 0;
    padding-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .feedback__title {
    margin-bottom: 33px;
  }

  .feedback__form {
    padding-bottom: 79px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__description {
    padding: 0 264px 0 258px;
  }

  .feedback__info {
    padding-left: 117px;
    padding-right: 117px;
    padding-top: 115px;
    padding-bottom: 59px;
  }
}
