.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-concrete;
}

.feedback__form {
  padding-top: 19px;
}

.feedback__info {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 39px;
  padding-bottom: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin: 0 auto;
    padding-top: 64px;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    border-top: 0;
    padding-top: 0;
  }

  .feedback__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .feedback__description {
    padding-left: 102px;
    padding-right: 102px;
  }

  .feedback__info {
    padding: 0;
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .feedback__form {
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__description {
    padding: 0 267px 0 258px;
  }

  .feedback__info {
    padding-left: 117px;
    padding-right: 117px;
    padding-top: 49px;
    padding-bottom: 56px;
  }
}
