.form__selectors-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form__selectors-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    padding-left: 95px;
    padding-right: 80px;
    padding-bottom: 82px;
  }

  .form__selector-label--sights {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__selectors-wrapper {
    grid-template-columns: repeat(4, 215px);
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    gap: 43px;
  }

  .form__selectors-wrapper .form__label:nth-of-type(4) {
    margin-left: -20px;
  }
}
