.form__container {
  padding: 0;
  padding-top: 21px;
  margin: 0;
  border: 0;
}

.form__container--fullname {
  padding-bottom: 21px;
}

.form__container--impression {
  padding-bottom: 29px;
}

.form__container--button {
  padding-bottom: 41px;
  display: flex;
  justify-content: center;
}

.form__container--emotions {
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .form__container {
    padding: 0;
  }

  .form__container--impression .form__legend {
    padding-bottom: 57px;
  }

  .form__container--fullname {
    position: relative;
    width: 266px;
    margin-left: 5px;
  }

  .form__container--fullname::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 303px;
    background-color: $light-grey-transperent;
    top: -78px;
    left: -59px;
  }

  .form__container--fullname .form__legend {
    padding-bottom: 57px;
  }

  .form__container--fullname .form__label {
    padding-right: 14px;
  }

  .form__container--communication {
    padding-top: 0;
    width: 100%;
  }

  .form__container--impression {
    order: -1;
    width: 303px;
    margin-bottom: 51px;
    border: none;
    margin-right: 74px;
  }

  .form__container--sights {
    width: 100%;
  }

  .form__container--sights .form__legend {
    padding-bottom: 45px;
  }

  .form__container--emotions {
    width: 100%;
  }

  .form__container--emotions .form__legend {
    padding-bottom: 59px;
    display: flex;
    justify-content: center;
  }

  .form__container--review {
    padding-top: 50px;
    width: 100%;
  }

  .form__container--button {
    padding-top: 49px;
    order: 6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $gray-concrete;
  }
}

@media (min-width: $desktop-width) {
  .form__container--fullname {
    padding-left: 80px;
    width: 400px;
  }

  .form__container--fullname::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 303px;
    background-color: $light-grey-transperent;
    top: -78px;
    left: 0;
  }

  .form__container--sights .form__legend {
    margin-left: -15px;
  }

  .form__container--impression .form__legend {
    padding-left: 78px;
  }

  .form__container--impression {
    width: 400px;
    margin-bottom: 48px;
  }
}
