.form__group {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-bottom: 17px;
}

.form__group--column {
  flex-direction: column;
  align-items: flex-start;
  margin-top: -4px;
}

.form__group--email {
  margin-top: -16px;
}

.form__group-wrapper {
  padding-bottom: 30px;
}

.form__group--phone {
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .form__group {
    padding-bottom: 23px;
  }

  .form__group--column {
    margin-bottom: 14px;
  }

  .form__group-wrapper--context {
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form__group {
    align-items: center;
    padding-bottom: 18px;
  }

  .form__group--column {
    flex-direction: row;
    width: 48%;
    margin: 0;
  }

  .form__group-wrapper--context {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  .form__group--phone {
    width: 42%;
  }

  .form__group--email {
    width: 50%;
  }
}
