.form__container {
  padding: 21px 18px;
  margin: 0;
  border: 0;
}

.form__container--fullname {
  padding-bottom: 27px;
}

.form__container--impression {
  margin: 0 1px 17px 0;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 14px;
}

.form__container--sights {
  margin-bottom: -3px;
}

.form__container--impression .form__label-radio {
  margin-top: 3px;
}

.form__container--impression .form__legend {
  padding-bottom: 0;
}

.form__container--button {
  padding-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .form__container {
    padding: 0;
  }

  .form__container--impression .form__label-radio {
    margin-top: 5px;
  }

  .form__container--fullname {
    position: relative;
    width: 310px;
  }

  .form__container--fullname::before {
    position: absolute;
    content: "";
    background-color: #e5e5e5;
    top: 0;
    left: 24px;
  }

  .form__container--communication {
    padding-top: 0;
    width: 100%;
  }

  .form__container--impression {
    order: -1;
    width: 310px;
    margin-bottom: 48px;
    border: none;
    padding-right: 60px;
  }

  .form__container--sights {
    width: 100%;
  }

  .form__container--emotions {
    width: 100%;
  }

  .form__container--review {
    padding-top: 50px;
    width: 100%;
  }

  .form__container--button {
    padding-top: 49px;
    order: 6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $gray-concrete;
  }
}

@media (min-width: $desktop-width) {
  .form__container--fullname {
    padding-left: 98px;
    width: 400px;

    &::before {
      left: 17px;
    }
  }

  .form__container--communication {
    margin-bottom: 65px;
  }

  .form__container--emotions {
    padding-left: 27px;
  }

  .form__container--impression {
    width: 400px;
  }

  .form__container--sights {
    margin-bottom: 63px;
  }
}
