.form__selectors-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form__selectors-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 460px;
    justify-content: space-between;
  }

  .form__selector-label--sights {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__selectors-wrapper {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
  }
}
