.form__icon {
  min-width: 58px;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
}

.form__icon--telephone {
  background-image: url("../../img/phone-form.svg");
}

.form__icon--email {
  background-image: url("../../img/mail-form.svg");
}
