.form__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.form__legend--sights {
  margin-bottom: -3px;
}

.form__legend--review {
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form__legend {
    font-size: 21px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: start;
  }

  .form__legend--communication {
    position: relative;
    text-align: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      right: 0;
    }
  }

  .form__legend--sights {
    position: relative;
    justify-content: center;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      right: 0;
    }
  }

  .form__legend-fixed-content {
    display: inline-block;
    width: 300px;
  }

  .form__legend--review {
    position: relative;
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      flex-grow: 1;
      flex-shrink: 0;
      background: $light-grey-transperent;
      top: 15%;
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__legend--review {
    padding-left: 0;
  }

  .form__legend--review::after {
    width: 280px;
  }

  .form__legend--review::before {
    width: 280px;
  }

  .form__legend--communication {
    padding-bottom: 71px;
  }

  .form__legend--communication::after {
    width: 280px;
  }

  .form__legend--communication::before {
    width: 280px;
  }

  .form__legend-fixed-content {
    margin-top: -4px;
    margin-left: 0;
  }

  .form__legend--sights {
    margin-bottom: 45px;
    margin-left: 0;
    padding-left: 0;

    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}
