.gallery {
  font-family: $basic-font-family;
  padding: 0;
  list-style: none;
}

.gallery__item {
  padding-top: 23px;
  border-top: 1px solid $gray-iron;
  list-style-type: none;
}

.gallery__item:last-child {
  border-bottom: 1px solid $gray-iron;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-bottom: 56px;
  }

  .gallery__item {
    margin: 0;
    border: none;
    padding-top: 0;
    width: 324px;
    background-color: #fffacd;
  }

  .gallery__item--landscape {
    width: 100%;
    background-color: #808080;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    width: 1200px;
  }

  .gallery__item {
    position: relative;
    width: 400px;
  }

  .gallery__item--landscape {
    width: 100%;
  }
}
