.main-menu__list {
  margin: 0;
  list-style: none;
  padding: 0;
  box-shadow: inset 0 -10px 10px -9px rgba(0, 1, 1, 0.2);
}

.main-menu__item {
  font-family: $basic-font-family;
  text-align: center;
  padding: 20px 11px 17px 0;
  border: 0;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $light-grey-blue;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-menu__item--active:active {
  color: $kabul;
}

.main-menu__close-button {
  position: absolute;
  content: "";
  background-color: $light-grey-blue;
  top: 15px;
  right: 21px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: none;
  z-index: 10;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 5px;
    width: 22px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    width: 100%;
    margin: 0;
    display: block;
  }

  .main-menu__close-button {
    display: none;
  }

  .main-menu__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    background-color: white;
    box-shadow: none;
  }

  .main-menu__item {
    width: 20%;
    border: 0;
    border-bottom: none;
    border-top: none;
    text-align: center;
    padding: 25px 16px 20px 12px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;

    &:nth-of-type(2) {
      margin-right: 20%;
    }
  }

  .main-menu__link {
    line-height: 10px;
    font-weight: 700;
    text-decoration: none;
    color: $black;
    background: $white;
    font-size: 13px;
  }
}
