.main-footer {
  padding: 23px 22px 22px 28px;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
}
