.media-info {
  padding-bottom: 43px;
  padding-top: 32px;
  text-align: center;
}

.media-info__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 3px;
  text-transform: uppercase;
}

.media-info__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-concrete;
}

@media (min-width: $tablet-width) {
  .media-info {
    padding: 0;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .media-info__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 32px;
  }

  .media-info__description {
    padding: 0 105px 0 101px;
  }
}

@media (min-width: $desktop-width) {
  .media-info {
    padding: 0;
    padding-top: 40px;
  }

  .media-info__description {
    padding: 0 260px;
  }
}
