.media {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
}

.media-info {
  padding: 39px 22px 28px 28px;
  text-align: center;
}

.media-info__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 3px;
  text-transform: uppercase;
}

.media-info__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.media__gallery {
  margin: 0 auto;
  padding: 0;
}
