.page-wrapper {
  margin: 0 auto;
  width: 280px;
}

.page-wrapper__index {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-wrapper {
    margin: 0 auto;
    width: 648px;
  }

  .page-wrapper__index {
    margin: 0 auto;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 61px;
  }

  .page-wrapper__index {
    margin: 0 auto;
    width: 1200px;
  }
}
