.video-content {
  position: relative;
  font-family: $basic-font-family;
  text-transform: uppercase;
}

.video-content__header {
  padding: 34px 0 35px;
}

.video-content__title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video-content__text {
  margin: 0;
  padding: 0 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .video-content {
    padding-bottom: 38px;
    margin: 0 auto;

    &::before {
      display: none;
    }
  }

  .video-content__title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
  }

  .video-content__text {
    padding-left: 100px;
    padding-right: 106px;
  }
}
