.video-content {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.video-content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $mobile-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.video-content__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 33px;
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 450px;
    margin: 0 auto 80px;
  }
}

.video-content__player {
  position: relative;
  margin: 0 auto;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.video-content__image {
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video-content__control-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.4);

  @media (min-width: $mobile-width) {
    width: 280px;
    height: 45px;
    margin: 0 auto;
    left: 20px;
    bottom: 75px;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
    left: 8%;
    bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    left: 16.7%;
  }
}

.video-content__mobile {
  width: 280px;
  margin: 0 auto;
  transform: translateY(100%);
  bottom: 75px;
  height: 66px;
  background-color: $gray-white;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.video-content__button {
  position: absolute;
  fill: #5c6870;
  bottom: -47px;

  &:first-child {
    margin-left: 20px;
    left: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
  }

  &:last-child {
    margin-right: 16px;
    right: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .video-content__button {
    &:first-child {
      margin-left: 28px;
      fill: $white;
      border: none;
      background-color: transparent;
      z-index: 2;
      bottom: 34px;
    }

    &:last-child {
      margin-right: 37px;
      fill: $white;
      border: none;
      background-color: transparent;
      z-index: 2;
      bottom: 32px;
    }
  }
}

@media (min-width: $mobile-width) {
  .video-content__button svg path {
    fill: $silver-graphite;
  }

  .video-content__button svg:hover path,
  .video-content__button svg:focus path {
    fill: $black;
  }

  .video-content__button svg:disabled path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video-content__button svg path {
    fill: $white;
  }

  .video-content__button svg:hover path,
  .video-content__button svg:focus path {
    fill: $silver-c2;
  }

  .video-content__button svg:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.video-content__button--subtitle {
  margin-right: 68px;
  right: 0;
  z-index: 2;
  border: none;
  background-color: transparent;
}


@media (min-width: $tablet-width) {
  .video-content__button {
    margin-right: 19px;
    border: none;
    background-color: transparent;
    bottom: 32px;
    right: 67px;

    @media (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
}

.video-content__bar {
  width: 389px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  z-index: 2;

  @media (min-width: $mobile-width) {
    order: -1;
    width: 235px;
  }

  @media (min-width: $tablet-width) {
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.video-content__drag {
  position: absolute;
  left: 57px;
  bottom: 14px;
  transform: translateY(-40%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $white;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.6);
  }

  @media (min-width: $tablet-width) {
    left: 203px;
    bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 10px;
    height: 10px;
  }
}
