.video-content {
  position: relative;
  font-family: $basic-font-family;
  text-transform: uppercase;
}

.video-content__header {
  padding: 31px 0 32px;
}

.video-content__title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video-content__text {
  margin: 0;
  padding: 0 26px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: $gray-concrete;
}

.video-content__controls {
  padding-left: 19px;
  padding-right: 21px;
  margin-top: -45px;
  padding-bottom: 42px;
  background-color: $white;
}

.video-content__control-buttons {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 39%, #f2f2f2 45%);
  height: 110px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 44px;
  margin: 0 auto;
}

.video-content__bar {
  position: relative;
  width: 235px;
  height: 3px;
  top: 20%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.video-content__drag {
  position: absolute;
  top: -80%;
  left: 17%;
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: $white;
  border-radius: 50%;
  border: none;
}

.video-content__button--repeat {
  min-width: 16px;
  padding-left: 25px;
  padding-right: 0;
  padding-top: 6px;
  bottom: 0;
  background-color: transparent;
  border: 0;
}

.video-content__button--subtitle {
  min-width: 32px;
  padding-left: 135px;
  padding-top: 6px;
  bottom: 0;
  background-color: transparent;
  border: 0;
}

.video-content__button--fullscreen {
  min-width: 20px;
  padding-left: 23px;
  padding-top: 6px;
  bottom: 0;
  background-color: transparent;
  border: 0;
}

.video-content__button svg path {
  fill: $silver-graphite;
}

.video-content__button svg:hover path,
.video-content__button svg:focus path {
  fill: $black;
}

.video-content__button svg:disabled path {
  opacity: 0.3;
}

.video-content__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .video-content {
    padding-bottom: 57px;
    margin: 0 auto;

    &::before {
      display: none;
    }
  }

  .video-content__drag {
    cursor: pointer;
    left: 94px;
  }

  .video-content__title {
    font-size: 30px;
    margin-bottom: 33px;
    margin-right: 5px;
  }

  .video-content__text {
    padding-left: 99px;
    padding-right: 102px;
  }

  .video-content__header {
    padding: 56px 60px 79px;
  }

  .video-content__player {
    min-height: 500px;
    position: relative;
    margin: 0 60px;
    background-color: #d3d3d3;
  }

  .video-content__controls {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: inherit;
  }

  .video-content__button--repeat {
    padding-left: 35px;
    padding-right: 42px;
    fill: $white;
    padding-top: 4px;
  }

  .video-content__bar {
    width: 389px;
    top: 45px;
    left: 93px;
    position: absolute;
  }

  .video-content__control-buttons {
    position: absolute;
    bottom: 0;
    height: 93px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .video-content__button svg path {
    fill: $white;
  }

  .video-content__button svg:hover path,
  .video-content__button svg:focus path {
    fill: $silver-c2;
  }

  .video-content__button svg:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video-content__button--subtitle {
    padding-left: 431px;
    padding-top: 0;
  }

  .video-content__button--fullscreen {
    padding-left: 24px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .video-content {
    padding-bottom: 100px;
  }

  .video-content__bar {
    width: 540px;
    position: absolute;
    margin: 0;
  }

  .video-content__button--subtitle {
    padding-left: 624px;
    padding-right: 20px;
    padding-top: 0;
  }

  .video-content__button--repeat {
    padding-left: 33px;
    padding-right: 0;
    fill: $white;
    padding-top: 0;
  }

  .video-content__button--fullscreen {
    padding-left: 11px;
    padding-top: 0;
  }

  .video-content__header {
    padding: 60px 200px 78px;
  }

  .video-content__text {
    padding: 0 181px 0 176px;
  }

  .video-content__player {
    width: 800px;
    margin: 0 auto;
  }

  .video-content__drag {
    left: 112px;
  }

  .video-content__bar-wrapper {
    padding: 8px 167px 8px 90px;
  }
}
