$black: #000000;
$white: #ffffff;
$light-grey-blue: #81b3d2;
$faded-blue: #669ec0;
$cool-blue: #5496bd;
$gray-concrete: #333333;
$kabul: #766357;
$black-nevada: #5c6870;
$gray-light: #666666;
$silver-c2: #c2c2c2;
$silver: #b8b8b8;
$gray-iron: #d6d6d6;
$light-grey-transperent: #dbdbdb;
$gray-white: #f2f2f2;
$gray-icon: #e5e5e5;
$gray-disabled: #d5d5d5;
$silver-logo: #e7e5e5;
$silver-graphite: #5c6870;
$silver-gallery: #eaeaea;
$gray-silver: #e6e6e6;

/* Fonts */
$basic-font-family: "PT Sans", "Arial", sans-serif;

/* Sizes */
$tablet-width: 768px;
$desktop-width: 1200px;
